---
import FormJob from '../../components/FormJob.astro';
import FormJobFreelancer from '../../components/FormJobFreelancer.astro';
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE_JOB, SITE_DESCRIPTION_JOB } from '../../consts';
import Footer from '../../components/Footer.astro';
import HeaderBlog from '../../components/HeaderBlog.astro';

import { getCollection, type CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post: CollectionEntry<'blog'>) => ({
    params: { slug: post.data.slug },
  }));
}

const { slug } = Astro.params;
const posts = await getCollection('blog');
const matchedPost = posts.find((post) => post.data.slug === slug);

if (!matchedPost) {
  throw new Error(`404: Post with slug "${slug}" not found`);
}

const postType = matchedPost.data.type || "Non Freelancer"; // default kalau tidak ada
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE_JOB} description={SITE_DESCRIPTION_JOB} />
    <meta name="robots" content="noindex" />
  </head>

  <body>
    <HeaderBlog />
    {
      postType === "Freelancer"
        ? <FormJobFreelancer slug={slug} locations={matchedPost.data.locations} />
        : <FormJob slug={slug} locations={matchedPost.data.locations} />
    }
    <Footer />
  </body>
</html>
